@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

html {
	scroll-behavior: smooth;
}

.text-gradient_purple-blue {
	background: linear-gradient(90deg, rgb(139 92 246) 0%, #73e0f8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-shadow: #474747;
  }
.text-gradient_text_white {
	background: linear-gradient(30deg, rgb(190, 190, 190) 0%, #474747 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
  }
.gradient_footer {
	background: linear-gradient(0deg, rgb(80, 80, 80) 0%, #000000 100%);
  }  

::-webkit-scrollbar {
	width: 15px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px linear-gradient(30deg, rgb(190, 190, 190) 0%, #474747 100%); 
	border-radius: 10px;
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(to right, transparent, #cbd5e1, transparent); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to right, transparent, #54575c, transparent); ; 
  }

::-webkit-selection {
    background: rgba(0, 0, 0, 0.541);
}
::selection {
    background: rgba(0, 0, 0, 0.589);
}
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
.btn_normal {
	padding: 0.5rem 1rem;
	font-weight: 700;
	background: rgb(0, 0, 0);
	color: white;
	/* border-radius: 0.5rem; */
	border-bottom: 2px solid var(--slate-300);
	border-right: 2px solid var(--slate-300);
	border-top: 2px solid var(--slate-300);
	border-left: 2px solid var(--slate-300);
	transition-duration: 1s;
	box-shadow: 3px 3px 0px rgba(224, 224, 224, 0.4);
	transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
.btn_normal:hover {
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	box-shadow: rgba(224, 224, 224, 0.4) 5px 5px, rgba(192, 192, 192, 0.3) 10px 10px;
  }	